/*
==========
HEADER
==========
*/
.header_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header_container > h1 {
  font-size: 2.2rem;
  color: var(--result-text);
}

.themes {
  display: flex;
  align-items: center;
  gap: 1rem;

  position: relative;
}

.themes > h3 {
  font-size: 0.8rem;
  color: var(--result-text);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buttons_slider {
  display: flex;
  flex-direction: column;
}

.buttons_slider > ol > button {
  border: 0;
  background-color: transparent;
  padding: 0 0.5rem 1.5rem;
  font-family: LeagueSpartan;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--result-text);
}

.buttons_slider > ol > button.active {
  color: var(--equal-key);
}

.slider {
  position: absolute;
  top: 1.3rem;
  width: 4rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: var(--keypad-bg);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.slider > span {
  width: 1rem;
  height: 1rem;
  background-color: var(--equal-key);
  border-radius: 50%;
  transition: 0.3s;
}

/*
==========
HOVER
==========
*/
@media (hover: hover) {
  .labels > label:hover {
    color: var(--equal-key);
    cursor: pointer;
  }

  .buttons_slider > ol > button:hover {
    cursor: pointer;
  }
}
