/*
==========
HEADER
==========
*/
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}

.header_container > h1 {
  font-size: 2.2rem;
  color: var(--result-text);
}

.themes_container > h3 {
  font-size: 0.8rem;
  color: var(--result-text);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* SLIDER */
.themes_container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.slider_container {
  position: relative;
  width: 4.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  background-color: var(--keypad-bg);
}

.labels {
  position: relative;
  top: -1.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  z-index: 1;
}

.labels > label {
  padding: 0.4rem;
  font-size: 0.8rem;
  color: var(--result-text);
}

.slider_container > input {
  position: relative;
  margin: 0 0.3rem;
  top: -2.8rem;
  display: none;
}

.slider {
  display: flex;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--equal-key);
  border-radius: 50%;
  transition: 0.3s;
}

.slider_container > input#default:checked ~ .slider {
  transform: translateX(0%);
}

.slider_container > input#light:checked ~ .slider {
  transform: translateX(140%);
}

.slider_container > input#violet:checked ~ .slider {
  transform: translateX(280%);
}

/*
==========
HOVER
==========
*/
@media (hover: hover) {
  .labels > label:hover {
    color: var(--equal-key);
    cursor: pointer;
  }
}
